@use 'variables' as vars;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: vars.$color-background;
  font-family: vars.$font-main;
  color: vars.$color-text;
}
.new-year-text {
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: vars.$color-accent;
    text-align: center;
    text-shadow: 
      0 0 5px rgba(255, 200, 221, 0.8), 
      0 0 10px rgba(255, 200, 221, 0.6),
      0 0 20px rgba(255, 200, 221, 0.5);
    animation: glow 2s infinite alternate;
    z-index: 2;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(255, 200, 221, 0.2);
      box-shadow: 0 0 50px 30px rgba(255, 200, 221, 0.3);
      filter: blur(10px);
      z-index: -1;
      animation: pulse 2s infinite alternate;
    }
  }
  
  @keyframes glow {
    from {
      text-shadow: 
        0 0 5px rgba(255, 200, 221, 0.8), 
        0 0 10px rgba(255, 200, 221, 0.6),
        0 0 20px rgba(255, 200, 221, 0.5);
    }
    to {
      text-shadow: 
        0 0 10px rgba(255, 200, 221, 1), 
        0 0 20px rgba(255, 200, 221, 0.8),
        0 0 30px rgba(255, 200, 221, 0.7);
    }
  }
  
  @keyframes pulse {
    from {
      box-shadow: 0 0 50px 30px rgba(255, 200, 221, 0.3);
    }
    to {
      box-shadow: 0 0 60px 40px rgba(255, 200, 221, 0.5);
    }
  }